<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CompSoft.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CompSoft.Properties.Settings>
            <setting name="CompSoft_NFpaulista_Mod1_ArquivoNF_Mod1" serializeAs="String">
                <value>https://www.nfp.fazenda.sp.gov.br/ws/arquivonf_mod1.asmx</value>
            </setting>
            <setting name="CompSoft_nfeinutilizacao4_NFeInutilizacao4" serializeAs="String">
                <value>https://homologacao.nfe.fazenda.sp.gov.br/ws/nfeinutilizacao4.asmx</value>
            </setting>
            <setting name="CompSoft_nfeconsultaprotocolo4_NFeConsultaProtocolo4"
                serializeAs="String">
                <value>https://homologacao.nfe.fazenda.sp.gov.br/ws/nfeconsultaprotocolo4.asmx</value>
            </setting>
            <setting name="CompSoft_cadconsultacadastro4_CadConsultaCadastro4"
                serializeAs="String">
                <value>https://homologacao.nfe.fazenda.sp.gov.br/ws/cadconsultacadastro4.asmx</value>
            </setting>
            <setting name="CompSoft_nferecepcaoevento4_NFeRecepcaoEvento4"
                serializeAs="String">
                <value>https://homologacao.nfe.fazenda.sp.gov.br/ws/nferecepcaoevento4.asmx</value>
            </setting>
            <setting name="CompSoft_autorizeNFE_NFeAutorizacao4" serializeAs="String">
                <value>https://homologacao.nfe.fazenda.sp.gov.br/ws/nfeautorizacao4.asmx</value>
            </setting>
            <setting name="CompSoft_nfestatusservico4_NFeStatusServico4"
                serializeAs="String">
                <value>https://homologacao.nfe.fazenda.sp.gov.br/ws/nfestatusservico4.asmx</value>
            </setting>
            <setting name="CompSoft_nferetautorizacao4_NFeRetAutorizacao4"
                serializeAs="String">
                <value>https://homologacao.nfe.fazenda.sp.gov.br/ws/nferetautorizacao4.asmx</value>
            </setting>
        </CompSoft.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup><system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>